html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*============= common app navbar styles =======================*/
.active {
  color:goldenrod;
}

.active-icon{
  color:goldenrod !important;
}

.sidebar-items{
  color: gray;
  font-size: medium;
  font-weight:lighter;
}

@media only screen and (max-width: 768px){
  .sidebar-items{
    margin-bottom: 0 !important;
  }
}

.sidebar-items p {
  margin-left: 0.8em;
}

.sidebar-items:hover p {
  color: goldenrod; 
}

.sidebar-items:hover svg {
  color: goldenrod;
}

/*skipping the margin bottom for the last Settings item in common navbar as it is the last one*/
.sidebar-items:not(:last-child) {
  margin-bottom: 1.2em;
}

/*============== settings navbar styles =================*/
.active-two {
  border-bottom: 2px solid #D53F8C;
  border-color: #D53F8C ;
  color:#D53F8C;
}

.sidebar-items-two{
  color: gray;
  font-size: medium;
  font-weight:600;
}

.sidebar-items-two p {
  margin-left: 0.8em;
}

.sidebar-items-two:hover p {
  border-bottom: 2px solid #D53F8C;
  color:#D53F8C; 
}

/* Animated slider styles */
#progress {
  position: "flex";
  top: 300px;
  left: 400px;
  transform: rotate(-270deg);
}
circle {
  stroke-dashoffset: 0;
  stroke-width: 10%;
  fill: none;
}
.bg {
  stroke: purple;
  opacity: 0.3;
}
#progress .indicator {
  stroke: #6B46C1;
}
.app-level-slider ul {
  display: flex;
  list-style: none;
  height: 300px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 1000px;
  margin: 0 auto;
}
.app-level-slider li {
  flex: 0 0 400px;
  background: #F5F5F5;
  margin: 0 20px 0 0;
  color: #6B46C1;
  font-weight: bold;
  text-align: center;
}
.app-level-slider li:last-of-type {
  margin: 0;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #CBD5E0;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #6B46C1;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: purple;
}