@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans" sans-serif;
}

/*============= common app navbar styles =======================*/
.active {
  color:goldenrod;
}

.active-icon{
  color:goldenrod !important;
}

.sidebar-items{
  color: gray;
  font-size: medium;
  font-weight:lighter;
}

@media only screen and (max-width: 768px){
  .sidebar-items{
    margin-bottom: 0 !important;
  }
}

.sidebar-items p {
  margin-left: 0.8em;
}

.sidebar-items:hover p {
  color: goldenrod; 
}

.sidebar-items:hover svg {
  color: goldenrod;
}

/*skipping the margin bottom for the last Settings item in common navbar as it is the last one*/
.sidebar-items:not(:last-child) {
  margin-bottom: 1.2em;
}

/*============== settings navbar styles =================*/
.active-two {
  border-bottom: 2px solid #D53F8C;
  border-color: #D53F8C ;
  color:#D53F8C;
}

.sidebar-items-two{
  color: gray;
  font-size: medium;
  font-weight:600;
}

.sidebar-items-two p {
  margin-left: 0.8em;
}

.sidebar-items-two:hover p {
  border-bottom: 2px solid #D53F8C;
  color:#D53F8C; 
}


/*Misc Browser Scroll/Slider Styles*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #CBD5E0;
  -webkit-border-radius: 1ex;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: #6B46C1;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: purple;
}

/*=============navbar-gradient-landingpage=================*/
.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}
.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}