html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*============= common app navbar styles =======================*/
.active {
  color:goldenrod;
}

.active-icon{
  color:goldenrod !important;
}

.sidebar-items{
  color: gray;
  font-size: medium;
  font-weight:lighter;
}

@media only screen and (max-width: 768px){
  .sidebar-items{
    margin-bottom: 0 !important;
  }
}

.sidebar-items p {
  margin-left: 0.8em;
}

.sidebar-items:hover p {
  color: goldenrod; 
}

.sidebar-items:hover svg {
  color: goldenrod;
}

/*skipping the margin bottom for the last Settings item in common navbar as it is the last one*/
.sidebar-items:not(:last-child) {
  margin-bottom: 1.2em;
}

/*============== settings navbar styles =================*/
.active-two {
  border-bottom: 2px solid #D53F8C;
  border-color: #D53F8C ;
  color:#D53F8C;
}

.sidebar-items-two{
  color: gray;
  font-size: medium;
  font-weight:600;
}

.sidebar-items-two p {
  margin-left: 0.8em;
}

.sidebar-items-two:hover p {
  border-bottom: 2px solid #D53F8C;
  color:#D53F8C; 
}


/*Misc Browser Scroll/Slider Styles*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #CBD5E0;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #6B46C1;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: purple;
}